<h1>About Us</h1>
<div class="row">
  <div class="col-md-8">
  	<p>
  		Our vision is to create a worldwide community of people willing to collaborate and share directly in non-profit development projects that improve the lives of those in need. Global Self Help promotes projects that sustainably reach a large number of people with high impact.
  	</p>
  	<p>
  	Headquartered in Sacramento, Global Self-Help is about releasing and leveraging the potential of those who are willing to collaborate and contribute to make the world a better place. Through our online platform to be launched soon, Social Entrepreneurs can meet and collaborate virtually with Social Donors and Social investors to complete discrete high-social impact community projects.	
  	</p>
  	<p>
  	Global Self-Help promoters are from a variety of technical backgrounds including marketing, finance, education, adult education, physics and computer science. They all have long experience in their respective fields and tremendous experience in international development issues covering financial inclusion, adult education, health and various self-help models. This core team is supported by a network of in-country correspondents in charge of promoting Global Self-Help locally and monitoring the quality of the projects supported by Global Self-Help social contributors.	
  	</p>
  </div>
  <div class="col-md-4"> <%= render 'projects/sidebar' %></div>
</div>