<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">                
                 <div class="col-md-4">
                    <h3> About US </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Contact Us </h3>
                    <address>
			   	  <strong>Global Self-Help Inc. </strong><br>
				  5672 Bridgecross Drive, <br>
				 Sacramento CA, 95835 US<br>
				  <abbr title="Phone">Phone:</abbr> 1(916)-234-3959<br>
				  <abbr title="Email">Email:</abbr> <a>info@globalselfhelp.org</a>
				</address>
                </div>
               
                <div class="col-md-4">
                    <h3> Follow Us</h3>
                    <ul class="social">
                        <li> <a target="_blank" href="https://www.facebook.com/pages/Global-Self-Help/514619285239445?fref=ts"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © 2015 Global Self-Help . All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

<!--
<div class="container">
	<hr>
	  	<div class="row">
		    <div class="col-md-4">
		    	<h4>About Us</h4><br>
		    </div>
		    <div class="col-md-4">
		    	<h4>Follow us</h4><br>    
		    </div>
		    <div class="col-md-4">
			    <address>
			    <h4>Contact Us</h4>
				  <strong>Global Self-Help Inc. </strong><br>
				  5672 Bridgecross Drive, <br>
				 Sacramento CA, 95835 US<br>
				  <abbr title="Phone">Phone:</abbr> 1(916)-234-3959<br>
				  <abbr title="Email">Email:</abbr> info@globalselfhelp.org
				</address>
		    </div>
		  </div>
	  </div>
<div class="container">  
	<p>Copyright © 2015 Global Self-Help | All Rights Reserved</p> 
</div>
-->